# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\My Study Courses\E-7-Fall2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
